{% extends 'base.html' %}

{% block title %} Name List {% endblock %}


{% block content %}
<div class="container">

<div class="row">
    <div class="col-11 m-3">
    <h2 class="display-3">All Employees</h2>

</div>
</div>

<div class=class="row border align-items-center justify-content-left" style="height:400px; background-image:url('https://images.unsplash.com/photo-1737917818689-f3b3708de5d7?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');background-size:100%; background-position:50%;">
    <div class=" col-3 m-3 ">
        <ul class="list-group list-group-flush">
            
            {% for u in users %}
            <a class="list-group-item " href="/user/{{u.id}}">{{u.first_name}} {{u.last_name}}</a>
            {% endfor %}
          </ul>
        

    </div>



</div>
</div>
{% endblock %}